**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/publish
**/.env
**/.env.*
**/docker-compose*.yml
**/*.md
**/.github
**/tests
**/scripts
**/.editorconfig
**/.gitignore
**/docs
**/services
**/*.user
**/*.suo
**/global.json.bak
**/launchSettings.json
**/.DS_Store
**/Thumbs.db
